$mondialfruttaRed: #ED4225;
$mondialfruttaRedHover: #C02A11;
$mondialfruttaGreen: #71BD44;
$mondialfruttaGreenDark: #3d703d;
$mondialfruttaBlack: #222601;

$greyDark: #384001;

$border: #dedede;
$borderDark: #979797;
$borderMedium: rgba(151, 151, 151, 0.5);
