.right {
  float: right;
}

.left {
  float: left;
}

.uppercase {
  text-transform: uppercase;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.overflowhidden {
	overflow: hidden;
}

.nounderline {
	text-decoration: none !important;
}

.img {
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	&--absolute {
		@include mq($from: medium) {
			position: absolute;
			width: 100%;
		}
	}
}

.pleft40 {
	@include mq($from: medium) {
		padding-left: 40px;
	}
}

.mtop30 {
	@include mq($from: medium) {
		margin-top: 30px;
	}
}

.mtop50 {
	@include mq($from: medium) {
		margin-top: 50px;
	}
}

.mtop80 {
	@include mq($from: medium) {
		margin-top: 80px;
	}
}

.mtop100 {
	@include mq($from: medium) {
		margin-top: 100px;
	}
}

.flex {
	display: flex;
	flex-wrap: wrap;
}