# ignore env-specific docker-compose configuration
.idea
.DS_Store

docroot/sites/*/private
docroot/sites/*/files

docroot/sites/settings*.php
docroot/sites/*/settings*.php
docroot/sites/development.services.yml
docroot/sites/*/services*.yml

# Ignore SimpleTest multi-site environment.
sites/simpletest

docroot/core/phpcs.xml
docroot/core/phpunit.xml
docroot/coverage/html

docroot/vendor
docroot/cache

# Ignore some development modules we don't need in production.
docroot/modules/contrib/devel/
docroot/modules/contrib/examples/

# ingore private files
/private_files

# theme assets
docroot/themes/custom/mondialfrutta/css
docroot/themes/custom/mondialfrutta/js
docroot/themes/custom/mondialfrutta/images

.sass-cache/
*.css.map
*/node_modules
