<footer class="footer">
    <ul class="footer-menu row">
    	<li class="footer-menu__item column small-full medium-two reset">
    		<h5>Azienda</h5>
    		<ul class="sub-menu hidden-under-medium">
    			<li class="sub-menu__item">Item</li>
    			<li class="sub-menu__item">Item</li>
    			<li class="sub-menu__item">Item</li>
    			<li class="sub-menu__item">Item</li>
    		</ul>
    	</li>
    	<li class="footer-menu__item column small-full medium-two reset">
    		<h5>Servizi</h5>
    		<ul class="sub-menu hidden-under-medium">
    			<li class="sub-menu__item">Item</li>
    			<li class="sub-menu__item">Item</li>
    			<li class="sub-menu__item">Item</li>
    			<li class="sub-menu__item">Item</li>
    			<li class="sub-menu__item">Item</li>
    			<li class="sub-menu__item">Item</li>
    			<li class="sub-menu__item">Item</li>
    		</ul>
    	</li>
    	<li class="footer-menu__item column small-full medium-two reset">
    		<h5>Clienti</h5>
    		<ul class="sub-menu hidden-under-medium">
    			<li class="sub-menu__item">Item</li>
    			<li class="sub-menu__item">Item 2</li>
    			<li class="sub-menu__item">Item 3</li>
    			<li class="sub-menu__item">Item 4</li>
    		</ul>
    	</li>
    	<li class="footer-menu__item column small-full medium-two reset">
    		<h5>Stagionalità</h5>
    	</li>
    	<li class="footer-menu__item column small-full medium-two reset">
    		<h5>Prodotti</h5>
    		<ul class="sub-menu hidden-under-medium">
    			<li class="sub-menu__item">Item</li>
    			<li class="sub-menu__item">Item 2</li>
    			<li class="sub-menu__item">Item 3</li>
    			<li class="sub-menu__item">Item 4</li>
    		</ul>
    	</li>
    	<li class="footer-menu__item column small-full medium-two reset">
    		<h5>Contatti</h5>
    	</li>
    </ul>

    <h5>@ 2016 Mondialfrutta s.r.l. - P. IVA 00992233445</h5>
</footer>
