<footer class="footer">
    <ul class="footer-menu row">
    	<li class="footer-menu__item column small-full medium-two reset">
    		<h5>
                <a href="/azienda">Azienda</a>      
            </h5>
    	</li>
    	<li class="footer-menu__item column small-full medium-two reset">
    		<h5>
                <a href="/servizi">Servizi</a>        
            </h5>
    	</li>
    	<li class="footer-menu__item column small-full medium-two reset">
    		<h5>
                <a href="/clienti">Clienti</a>      
            </h5>
    	</li>
    	<li class="footer-menu__item column small-full medium-two reset">
    		<h5>
                <a href="/stagionalità">Stagionalità</a>      
            </h5>
    	</li>
    	<li class="footer-menu__item column small-full medium-two reset">
    		<h5>
                <a href="/prodotti">Prodotti</a>      
            </h5>
    	</li>
    	<li class="footer-menu__item column small-full medium-two reset">
    		<h5>
                <a href="/contatti">Contatti</a>      
            </h5>
    	</li>
    </ul>

    <h5>@ 2016 Mondialfrutta s.r.l. - P. IVA 00992233445</h5>
</footer>
