<footer class="footer">
    <!-- <ul class="footer-menu row">
    	<li class="footer-menu__item column small-full medium-two reset">
    		<h5>
                <a href="/azienda">Azienda</a>      
            </h5>
    	</li>
    	<li class="footer-menu__item column small-full medium-two reset">
    		<h5>
                <a href="/servizi">Servizi</a>        
            </h5>
    	</li>
    	<li class="footer-menu__item column small-full medium-two reset">
    		<h5>
                <a href="/clienti">Clienti</a>      
            </h5>
    	</li>
    	<li class="footer-menu__item column small-full medium-two reset">
    		<h5>
                <a href="/stagionalità">Stagionalità</a>      
            </h5>
    	</li>
    	<li class="footer-menu__item column small-full medium-two reset">
    		<h5>
                <a href="/prodotti">Prodotti</a>      
            </h5>
    	</li>
    	<li class="footer-menu__item column small-full medium-two reset">
    		<h5>
                <a href="/contatti">Contatti</a>      
            </h5>
    	</li>
    </ul> -->

    <h5>@ 2016 Mondialfrutta s.r.l. - P. IVA 03149980264</h5>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111979285-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111979285-1');
    </script>
</footer>
