.header {
	@include mq($until: medium) {
		img {
			width: 100%;
    		height: 100%;
		}
	}
}
.header-img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 40vh;
	margin-bottom: 40px;
}