.wrapper {
  padding: 0 20%;
  margin: 0 auto;

  @include mq($until: medium) {
  	width: 100%;
  	padding: 0 10%;
  	box-sizing: border-box;
  }
}

.wrapper-mobile {
	@include mq($from: medium) {
  		width: 820px;
  		margin: 0 auto;
	}

  &--margin {
    @include mq($from: medium) {
      margin-bottom: 100px;
    }
    @include mq($until: medium) {
      margin-bottom: 50px;
    }
  }
}
