<div class="column large-two reset {{ (loop.last) ? 'last' : '' }}">
  <div class="scheda-tecnica">
    <div class="scheda-tecnica__title">
      {{ fields.title.content }}
    </div>
    <div class="scheda-tecnica__immagine">
      {{ fields.field_immagine.content }}
    </div>
    <div class="scheda-tecnica__link">
      {{ fields.field_scheda_tecnica.content }}
    </div>
  </div>
</div>

