<div class="pre-loader">
	<div class="pre-loader__item">
		<div class="pre-loader__logo">
			<img src="{{ base_path ~ directory }}/images/logo.svg" alt="Mondialfrutta" />
		</div>
	</div>
</div>

<header>
  <div class="headline">
    <div>{{ page.header }}</div>
  </div>
</header>
