<div class="overlay"></div>

<section class="visual">
    {{ page.visual }}

    <div class="scroll-down">
        <img src="{{ base_path ~ directory }}/images/scroll-down.svg" alt="Scroll" />
    </div>
</section>
