{% include directory ~ '/includes/header.html.twig' %}
{% include directory ~ '/includes/visual.html.twig' %}

<main>
  {{ page.content }}
</main>

{% if page.footer %}
  {% include directory ~ '/includes/footer.html.twig' %}
{% endif %}
