<div class="layout-container">
  <main role="main">

    <div class="row wrapper">
      <div class="column large-full">
        <h3 class="title">Clienti</h3>
      </div>
    </div>

    <div class="header-img" style="background-image: url('https://unsplash.it/1980/860');"></div>

    <div class="row wrapper">
      <div class="column medium-half">
        <p class="text">{{ page.content }}</p>
      </div>
    </div>

    <div class="tabs">
      <div class="row">
        <div class="tabs__title active column large-four reset" data-item="horeca">
          <div class="title__tab">Ho.Re.Ca.</div>
        </div>
        <div class="tabs__title column large-four reset" data-item="normaltrade">
          <div class="title__tab">Normal Trade</div>
        </div>
        <div class="tabs__title column large-four reset" data-item="cateringnavale">
          <div class="title__tab">Catering Navale</div>
        </div>
      </div>

      <div class="tabs__item active" data-item="horeca">
        <div class="row">
          <div class="tabs__text text__tab column large-eight reset">Ho.Re.Ca.</div>
          <div class="tabs__image column large-four reset">
            <img src="https://unsplash.it/500/500" alt="horeca">
          </div>
        </div>
      </div>
      <div class="tabs__item" data-item="normaltrade">
        <div class="row">
          <div class="tabs__text text__tab column large-eight reset">Normal Trade</div>
          <div class="tabs__image column large-four reset">
            <img src="https://unsplash.it/501/500" alt="horeca">
          </div>
        </div>
      </div>
      <div class="tabs__item" data-item="cateringnavale">
        <div class="row">
          <div class="tabs__text text__tab column large-eight reset">Catering Navale</div>
          <div class="tabs__image column large-four reset">
            <img src="https://unsplash.it/502/500" alt="horeca">
          </div>
        </div>
      </div>
    </div>

  </main>
</div>