<div class="overlay-device">
  <img class="logo-top" src="/themes/custom/mondialfrutta/images/orange.png" alt="Mondialfrutta">
  <div class="voalign">
    <img src="/themes/custom/mondialfrutta/images/rotate-device.png" width="220" alt="Rotate device">
    <div class="title center">Ruota il dispositivo</div>
  </div>
</div>

<div class="layout-container">
  <main role="main">

    <div class="row wrapper">
      <div class="column large-full reset">
        <div class="header">
          <h1 class="title">Stagionalità</h1>
          <img class="right" src="/sites/default/files/hp/prodotti-sx.png" width="501" height="287" alt="prodotti">
        </div>
      </div>
    </div>

    <div class="table">
      <div class="table__head uppercase">
        <div class="row wrapper-mobile">
          <div class="column large-full reset">
              <div class="right">
                <p class="table__head--rotate left">gen</p>
                <p class="table__head--rotate left">feb</p>
                <p class="table__head--rotate left">mar</p>
                <p class="table__head--rotate left">apr</p>
                <p class="table__head--rotate left">mag</p>
                <p class="table__head--rotate left">giu</p>
                <p class="table__head--rotate left">lug</p>
                <p class="table__head--rotate left">ago</p>
                <p class="table__head--rotate left">set</p>
                <p class="table__head--rotate left">ott</p>
                <p class="table__head--rotate left">nov</p>
                <p class="table__head--rotate left">dic</p>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row wrapper-mobile wrapper-mobile--margin">
      <div class="column large-full reset">
        <div class="row">
          {{ page.content }}
        </div>
      </div>
    </div>

  </main>
</div>{# /.layout-container #}

{% if page.footer %}
  <footer role="contentinfo">
        {{ page.footer }}
  </footer>
{% endif %}

