<div class="layout-container">
  <main role="main">

    <div class="row wrapper">
      <div class="column large-full">
        <h3 class="title">Azienda</h3>
      </div>
    </div>

    <div class="header-img" style="background-image: url('sites/default/files/images/carrot.jpg');"></div>

    <div class="section sr">
      <div class="row wrapper relative">
        <div class="column small-full medium-half reset">
          <p class="text text__header">
            Attivi nella distribuzione di ortofrutta dal 1960, noi di Mondialfrutta abbiamo maturato negli anni una profonda conoscenza del settore e del territorio.<br>
            Ogni giorno selezioniamo con cura prodotti di qualità certificata, conformi alla normativa per la tutela dei consumatori e con linee produttive tracciabili fino dall’origine.
          </p>
        </div>
        <div class="mask hidden-under-medium">
          <video class="mask-video" src="sites/default/files/video/mask2.mp4" autoplay="true" loop="true"></video>
          <svg width="0" height="0" viewBox="0 0 500 500">
            <g>
              <clipPath id="arancia">
                <path d="M154.214406,152.403876 C145.65664,152.557378 137.269964,153.384053 129.099152,154.863114 C85.7522741,162.686947 48.5279086,188.368241 25.3490254,223.982429 C21.5306497,229.858698 18.0800406,235.995602 15.0627563,242.380348 C5.41448223,262.727429 0.000319796954,285.463393 0.000319796954,309.438571 C0.000319796954,333.413749 5.41448223,356.162505 15.0627563,376.509586 C18.0800406,382.88314 21.5306497,389.018444 25.3490254,394.89951 C48.5758782,430.58885 85.8961827,456.295728 129.362985,464.061997 C137.362706,465.494688 145.57669,466.305373 153.936183,466.471668 C154.981919,466.492454 156.029254,466.519637 157.07499,466.519637 C158.101538,466.519637 159.120091,466.492454 160.145041,466.471668 C168.517325,466.316566 176.728112,465.505881 184.735827,464.07319 C228.225015,456.316515 265.56131,430.600043 288.805751,394.89951 C292.627325,389.018444 296.069939,382.88314 299.095218,376.509586 C308.740294,356.162505 314.154457,333.413749 314.154457,309.438571 C314.154457,285.463393 308.740294,262.727429 299.095218,242.380348 C296.069939,235.995602 292.627325,229.858698 288.805751,223.982429 C265.614076,188.352251 228.378518,162.66616 185.001259,154.855119 C176.824051,153.384053 168.427782,152.55418 159.871614,152.403876 C158.941005,152.387886 158.008797,152.367099 157.07499,152.367099 C156.114,152.367099 155.167401,152.387886 154.214406,152.403876 M129.738746,173.4705 C115.359076,188.145982 103.291538,205.194358 94.1277563,223.982429 L47.9298883,223.982429 C67.9667665,198.443444 96.7532893,180.088698 129.738746,173.4705 M147.884025,181.425449 L147.884025,223.982429 L114.837807,223.982429 C123.645015,208.075728 134.82032,193.720043 147.884025,181.425449 M106.017807,242.380348 L147.884025,242.380348 L147.884025,300.249206 L93.0932132,300.249206 C94.1517411,279.83017 98.6528832,260.340145 106.017807,242.380348 M35.7280355,242.380348 L86.3055228,242.380348 C79.6633401,260.535221 75.6354975,279.983673 74.6809036,300.249206 L18.7068426,300.249206 C20.0771726,279.368063 26.0877563,259.734129 35.7280355,242.380348 M93.0852183,318.642327 L147.884025,318.642327 L147.884025,376.509586 L105.941056,376.509586 C98.6033147,358.538596 94.1117665,339.05017 93.0852183,318.642327 M18.7068426,318.642327 L74.6777056,318.642327 C75.6067157,338.896668 79.6137716,358.345119 86.2287716,376.509586 L35.7280355,376.509586 C26.0877563,359.144612 20.0771726,339.520272 18.7068426,318.642327 M114.732274,394.89951 L147.884025,394.89951 L147.884025,437.637175 C134.77235,425.302607 123.560269,410.884561 114.732274,394.89951 M47.9298883,394.89951 L94.0382132,394.89951 C103.152426,413.661997 115.176792,430.687987 129.51169,445.373063 C96.6205736,438.702099 67.914,420.372937 47.9298883,394.89951" id="Fill-1"></path>
                <path d="M157.076607,88.3223793 L157.076607,88.3223793 C162.50386,68.3105983 172.547748,50.1080964 187.446906,35.2024492 C213.150586,9.50836294 248.684825,-1.75168782 286.372896,0.219860406 C288.349241,37.9095305 277.092388,73.4421701 251.387109,99.1442513 C226.73523,123.800732 193.036021,135.166512 157.057171,134.3072 C155.807564,134.336577 154.560944,134.351338 153.318175,134.351338 C118.765713,134.351338 86.555764,122.936185 62.7660685,99.1448909 C37.0703832,73.4428096 25.8055355,37.9101701 27.7850787,0.2205 C30.581703,0.0717944162 33.3767284,-0.000159898477 36.149368,-0.000159898477 C70.7018299,-0.000159898477 102.911779,11.4197893 126.699876,35.2030888 C141.601442,50.1074357 151.648518,68.3106217 157.076607,88.3223793 Z M48.330434,20.7466675 C50.7257132,46.1257538 60.6250279,68.4347893 77.0529975,84.8627589 C93.6264746,101.44583 115.614114,111.261997 141.145104,113.601312 C138.745028,88.2270228 128.848911,65.9211853 112.425739,49.4868198 C95.8410685,32.9101447 73.8614239,23.0939772 48.330434,20.7466675 Z" id="Combined-Shape"></path>
              </clipPath>
            </g>
          </svg>
        </div>
      </div>
    </div>

    <div class="section overflowhidden relative timeline__container sr">
      <div class="wrapper">
        <div class="title__black">Chi siamo</div>
        <div class="row">
          <div class="column small-full medium-half reset">
            <p class="text">
              Mondialfrutta è un'azienda che negli anni ha saputo diversificare il proprio servizio dando ascolto ai nuovi bisogni del mercato e cogliendo nuove opportunità di business, grazie anche all’inserimento in azienda dei figli che con competenza, entusiasmo e determinazione hanno saputo trasformare l'azienda di famiglia, anche grazie all'utilizzo di nuove tecnologie e alla costruzione di nuove partnership commerciali.
            </p>
          </div>
        </div>
      </div>
      <div class="timeline">
        <div class="timeline__item">
          <div class="title">1969</div>
          <div class="description">
            Mondialfrutta nasce nel 1969 a Montebelluna (Treviso), quando la famiglia Agostinetto aprì una piccola bottega di prodotti ortofrutticoli.
          </div>
        </div>
        <div class="timeline__item">
          <div class="title">1973</div>
          <div class="description">
            Il negozio si è spostato in un punto vendita più grande. Lo spirito imprenditoriale dei tre fratelli, Angelo, Franco e Sergio, con l'aiuto di familiari e collaboratori fidati, ha spinto tutto il gruppo a mettersi sempre più in gioco, aggiungendo continuamente valore alla propria attività.
          </div>
        </div>
        <div class="timeline__item">
          <div class="title">1982</div>
          <div class="description">
            L'ampliamento della rete vendita al dettaglio richiese la creazione di un primo magazzino all'ingrosso per la somministrazione dei prodotti freschi sia alla propria rete al dettaglio che alla Normal Trade locale, sino al canale della Ristorazione.
          </div>
        </div>
        <div class="timeline__item">
          <div class="title">2017</div>
          <div class="description">
            L'azienda oggi dispone di due ampie piattaforme logistiche, una a Montebelluna ed una all'interno dell'Interporto di Padova: inoltre distribuisce in tutta Italia attraverso numerosi partner, addetti allo svolgimento dell'attività logistico-distributive e commerciali rivolte ai canali HO.RE.CA e al Catering Navale.
          </div>
        </div>
      </div>
    </div>

    <div class="section sr">
      <div class="row wrapper">
        <div class="column small-full medium-half reset">
          <div class="title__black">Mission</div>
          <p class="text">
            La nostra Azienda quotidianamente ha come obiettivo la massima soddisfazione delle esigenze dei propri Clienti e il miglioramento della loro alimentazione attraverso un costante monitoraggio della freschezza, e della qualità. La ricerca e la selezione dei prodotti viene svolta mediante una costante analisi dei mercati e lo studio disciplinato delle trasformazioni sociali.<br><br>

            Un’attenzione continua ai nostri clienti ci permette di trasmettere le loro esigenze a tutti i nostri collaboratori. Le nostre priorità sono: la scelta delle migliori materie prime, il rispetto dei tempi di produzione e la distribuzione dei prodotti in qualsiasi località italiana preservandone la freschezza e integrità.<br><br>

            La ricerca e l’attenzione per l’analisi sociale ci spingono ad essere sempre al passo con le esigenze di nuovi stili di vita e consumo; la continua trasformazione dei mercati ci stimola a superare ogni giorno i nostri limiti, con la speranza di poter raggiungere sempre più le istanze del cliente finale e la sua soddisfazione.
          </p>
        </div>
      </div>
    </div>

    <div class="section sr">
      <div class="row wrapper">
        <div class="column small-full medium-half reset">
          <div class="title__black">Rete H.F.D.</div>
          <p class="text">
            Mondialfrutta nel 2012 entra a far parte di <a href="www.rete-hfditalia.it" target="_blank">H.F.D. (Horeca Fruit Distribution)</a> rete Italia, consorzio leader nella distribuzione di prodotti ortofrutticoli freschi, attraverso una rete di provider logistici presenti su tutto il territorio nazionale, isole comprese, che ci permettono di garantire a tutti i nostri Partner commerciali una copertura di servizio capillare ed efficiente.
          </p>
        </div>
        <div class="row">
          <div class="column small-full reset">
            <img class="img" src="https://unsplash.it/1980/880" alt="Conor Veneto">
          </div>
        </div>
      </div>
    </div>

    <div class="section sr">
      <div class="row wrapper">
        <div class="column small-full medium-half reset">
          <div class="title__black">CONOR Padova</div>
          <p class="text">
            Mondialfrutta e Conor srl costituiscono CONOR Veneto, provider logistico all’avanguardia per quanto concerne i sistemi di gestione degli approvvigionamenti, il controllo della catena del freddo, la tracciabilità dei prodotti e per le tecniche distributive.<br>
            Situata all’interno dell’Interporto di Padova SPA, questa piattaforma logistico-distributiva, con accesso diretto al MAAP - Mercato Agro Alimentare di Padova - uno dei più importanti a livello Nazionale ed Europeo, ha una posizione eccellente sotto il profilo logistico, tale da raggiungere in brevissimo tempo e con costi distributivi contenuti tutta l’area del Nord Est.
          </p>
        </div>
        <div class="column small-full medium-half reset">
          <div class="pleft40">
            <img class="img" src="https://unsplash.it/860/1280" alt="Conor Veneto">
          </div>
        </div>
      </div>
    </div>

    <div class="section sr">
      <div class="row wrapper">
        <div class="column small-full medium-half reset">
          <div class="title__black">Certificazioni</div>
          <p class="text">
            Mondialfrutta ha un sistema di autocontrollo HACCP per l’igiene degli alimenti secondo quanto previsto dal Regolamento CE n. 852/2004.<br>
            L’azienda si avvale, altresì, della certificazione ICEA per la commercializzazione e l’etichettatura di prodotti biologici. <br>
            La Certificazione di Qualità ISO 9001 è in fase di sviluppo.
          </p>
        </div>
      </div>
    </div>

  </main>
</div>