<div class="layout-container">
  <main role="main">

    <div class="row wrapper">
      <div class="column large-full">
        <h3 class="title">Clienti</h3>
      </div>
    </div>

    <div class="header-img" style="background-image: url('sites/default/files/images/toscana.jpg');"></div>

    <div class="row wrapper sr">
      <div class="column small-full medium-half">
        <p class="text text__header">
          I legami che Mondialfrutta ha saputo instaurare e consolidare nel tempo con i suoi partner professionali, rappresentano una base concreta e fidata che ci consente di migliorare e affinare, giorno dopo giorno, il servizio che offriamo. Tutto questo rende speciale il nostro lavoro e ci permette di fornire un supporto tarato sui bisogni effettivi delle diverse realtà che si affidano a noi.
        </p>
      </div>
    </div>

    <div class="tabs sr">
      <div class="row">
        <div class="tabs__title active column small-full medium-four large-four reset" data-item="horeca">
          <div class="title__tab">Ristorazione</div>
        </div>
        <div class="tabs__title column small-full medium-four large-four reset" data-item="normaltrade">
          <div class="title__tab">Normal Trade</div>
        </div>
        <div class="tabs__title column small-full medium-four large-four reset" data-item="cateringnavale">
          <div class="title__tab">Catering Navale</div>
        </div>
      </div>

      <div class="tabs__item active" data-item="horeca">
        <div class="row">
          <div class="tabs__text tabs__text--height text__tab column small-full medium-eight large-eight reset">Mondialfrutta offre a tutta la Ristorazione Commerciale, Colletiva e al Cattering un'ampia gamma di servizi e prodotti convenzionali, biologici, di IV Gamma e V Gamma.<br>
          La nostra priorità è il rispetto delle esigenze di ogni tipo di cucina attraverso la scelta delle migliori materie prime tenendo in considerazione il posizionamento di mercato dei nostri clienti e rispettando le esigenze dei singoli capitolati per quanto concerne la ristorazione collettiva.<br>
          Grazie ad un'efficace ed efficiente gestione delle collaborazioni logistico-distributive con i nostri partner riusciamo a organizzare una distribuzione dei prodotti nei tempi e nei modi concordati con i vari clienti.<br>
          Quotidianamente abbiamo dei collaboratori dedicati all'assistenza distributiva e al post vendita in tal modo da poter intervenire in maniera rapita alla risoluzione dei problemi dei clienti. Inoltre abbiamo dei profili aziendali che si rendono disponibili ad aiutare i nostri clienti nello sviluppo strategico di alcune fasi del loro business.<br>
          Mondialfrutta, attraverso la Rete HFD della quale è consorziata, riesce a consegnare nella maggior parte delle località nazionali, prodotti con le stesse caratteristiche qualitative e in molti casi provenienti dalle stesse Aziende Agricole di Produzione, in tal modo da poter elevare il proprio servizio, la riduzione dei costi di gestione e lo sviluppo di forti integrazioni con i propri clienti.</div>
          <div class="tabs__image column small-full medium-four large-four reset">
            <img src="sites/default/files/images/cucina.jpg" alt="horeca">
          </div>
        </div>
      </div>
      <div class="tabs__item" data-item="normaltrade">
        <div class="row">
          <div class="tabs__text tabs__text--height text__tab column small-full medium-eight large-eight reset">Mondialfrutta nella sede di Montebelluna da oltre 50 anni porta avanti l'attività di vendita all'ingrosso di prodotti ortofrutticoli freschi di differenti categorie e con diverse tipologie di lavorazione, dalle casse tradizionali ai bins.<br>
          Il prodotto è selezionato in base alle esigenze di ogni cliente, ogni giorno sono offerti rispettandone la qualità e la freschezza attraverso la catena del freddo e il controllo continuo del loro ciclo di vita che non supera mai nel caso degli ortaggi le 24 0re.<br>
          Ogni notte i nostri buyer valutano nei mercati generali di Padova e Treviso le migliori opportunità prezzo/qualità così da garantire sempre un vantaggio competitivo ai nostri clienti siano essi negozianti tradizionali o ambulanti.</div>
          <div class="tabs__image column small-full medium-four large-four reset">
            <img src="sites/default/files/images/normal-trade.jpg" alt="horeca">
          </div>
        </div>
      </div>
      <div class="tabs__item" data-item="cateringnavale">
        <div class="row">
          <div class="tabs__text tabs__text--height text__tab column small-full medium-eight large-eight reset">Selezioniamo prodotti ortofrutticoli freschi di elevata qualità attraverso un'ampia gamma di materie prime adatte a tutti i tipi di cucine, in più forniamo analisi di marketing e implementazione a supporto dell'offerta di frutta e verdura durante le varie fasi di servizio catering a bordo nave.<br >
          Scegliamo dei partner logistico distributivo con elevata esperienza e professionalità, in modo da poter soddisfare le esigenze di qualunque tipo di nave e attività di ristorazione di grandi o piccole dimensioni in tutti i porti d'Italia.<br>
          Abbiamo un'elevata flessibilità alle esigenze che tale business ad alta imprevedibilità richiede nei tempi e nei modi di consegna.<br>
          Gestiamo tutte le attività di fornitura sotto bordo, di navi cargo, piattaforme e barges off-shore, traghetti passeggeri, navi da crociera e yatch.</div>
          <div class="tabs__image column small-full medium-four large-four reset">
            <img src="sites/default/files/images/navale.jpg" alt="horeca">
          </div>
        </div>
      </div>
    </div>

  </main>
</div>