<div class="layout-container">
  <main role="main">

    <div class="row wrapper">
      <div class="column large-full">
        <h3 class="title">Azienda</h3>
      </div>
    </div>

    <div class="header-img" style="background-image: url('https://unsplash.it/1980/860');"></div>

    <div class="section">
      <div class="row wrapper">
        <div class="column small-full medium-half">
          <p class="text">
            Attivi nella distribuzione di ortofrutta dal 1960, noi di Mondialfrutta abbiamo maturato negli anni una profonda conoscenza del settore e del territorio.<br>
            Ogni giorno selezioniamo con cura prodotti di qualità certificata, conformi alla normativa per la tutela dei consumatori e con linee produttive tracciabili fino dall’origine.
          </p>
        </div>
      </div>
    </div>

    <div class="section overflowhidden relative timeline__container">
      <div class="wrapper">
        <div class="title__black">Chi siamo</div>
        <div class="row">
          <div class="column small-full medium-half reset">
            <p class="text">
            Mondialfrutta nasce nel 1969 a Montebelluna (Treviso), quando la famiglia Agostinetto aprì una piccola bottega di prodotti ortofrutticoli. Negli anni lo spirito imprenditoriale dei tre fratelli, Angelo, Franco e Sergio, con l’aiuto di familiari e collaboratori fidati, ha spinto tutto il gruppo a mettersi sempre più in gioco, aggiungendo continuamente valore alla propria attività. Allora l’ampliamento della rete vendita al dettaglio richiese la creazione di un primo magazzino all’ingrosso per la somministrazione dei prodotti freschi sia alla propria rete al dettaglio che alla Normal Trade locale, sino al canale della Ristorazione.<br>
            L’azienda negli anni ha saputo diversificare il proprio servizio dando ascolto ai nuovi bisogni del mercato e cogliendo nuove opportunità di business, grazie anche all’inserimento in azienda dei figli che con competenza, entusiasmo e determinazione hanno saputo trasformare l’azienda di famiglia, anche grazie all’utilizzo di nuove tecnologie e alla costruzione di nuove partnership commerciali.<br>
            L’azienda oggi dispone di due ampie piattaforme logistiche, una a Montebelluna ed una all’interno dell’Interporto di Padova: inoltre distribuisce in tutta Italia attraverso numerosi partner, addetti allo svolgimento dell’attività logistico-distributive e commerciali rivolte ai canali HO.RE.CA e al Catering Navale.
          </p>
          </div>
        </div>
      </div>
      <div class="timeline">
        <div class="timeline__item">
          <div class="title">1968</div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin justo ex, mollis nec elit non, ornare aliquam justo.<br>
            Donec metus neque, congue at purus sit amet, commodo tincidunt nulla.
          </div>
        </div>
        <div class="timeline__item">
          <div class="title">1968</div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin justo ex, mollis nec elit non, ornare aliquam justo.<br>
            Donec metus neque, congue at purus sit amet, commodo tincidunt nulla.
          </div>
        </div>
        <div class="timeline__item">
          <div class="title">1968</div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin justo ex, mollis nec elit non, ornare aliquam justo.<br>
            Donec metus neque, congue at purus sit amet, commodo tincidunt nulla.
          </div>
        </div>
        <div class="timeline__item">
          <div class="title">1968</div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin justo ex, mollis nec elit non, ornare aliquam justo.<br>
            Donec metus neque, congue at purus sit amet, commodo tincidunt nulla.
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row wrapper">
        <div class="column small-full medium-half reset">
          <div class="title__black">Mission</div>
          <p class="text">
            La nostra Azienda quotidianamente ha come obiettivo la massima soddisfazione delle esigenze dei propri Clienti e il miglioramento della loro alimentazione attraverso un costante monitoraggio della freschezza, e della qualità. La ricerca e la selezione dei prodotti viene svolta mediante una costante analisi dei mercati e lo studio disciplinato delle trasformazioni sociali.<br><br>

            Un’attenzione continua ai nostri clienti ci permette di trasmettere le loro esigenze a tutti i nostri collaboratori. Le nostre priorità sono: la scelta delle migliori materie prime, il rispetto dei tempi di produzione e la distribuzione dei prodotti in qualsiasi località italiana preservandone la freschezza e integrità.<br><br>

            La ricerca e l’attenzione per l’analisi sociale ci spingono ad essere sempre al passo con le esigenze di nuovi stili di vita e consumo; la continua trasformazione dei mercati ci stimola a superare ogni giorno i nostri limiti, con la speranza di poter raggiungere sempre più le istanze del cliente finale e la sua soddisfazione.
          </p>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row wrapper">
        <div class="column small-full medium-half reset">
          <div class="title__black">Rete H.F.D.</div>
          <p class="text">
            Mondialfrutta nel 2012 entra a far parte di <a href="www.rete-hfditalia.it" target="_blank">H.F.D. (Horeca Fruit Distribution)</a> rete Italia, consorzio leader nella distribuzione di prodotti ortofrutticoli freschi, attraverso una rete di provider logistici presenti su tutto il territorio nazionale, isole comprese, che ci permettono di garantire a tutti i nostri Partner commerciali una copertura di servizio capillare ed efficiente.
          </p>
        </div>
        <div class="row">
          <div class="column small-full reset">
            <img class="img" src="https://unsplash.it/1980/880" alt="Conor Veneto">
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row wrapper">
        <div class="column small-full medium-half reset">
          <div class="title__black">CONOR Padova</div>
          <p class="text">
            Mondialfrutta e Conor srl costituiscono CONOR Veneto, provider logistico all’avanguardia per quanto concerne i sistemi di gestione degli approvvigionamenti, il controllo della catena del freddo, la tracciabilità dei prodotti e per le tecniche distributive.<br>
            Situata all’interno dell’Interporto di Padova SPA, questa piattaforma logistico-distributiva, con accesso diretto al MAAP - Mercato Agro Alimentare di Padova - uno dei più importanti a livello Nazionale ed Europeo, ha una posizione eccellente sotto il profilo logistico, tale da raggiungere in brevissimo tempo e con costi distributivi contenuti tutta l’area del Nord Est.
          </p>
        </div>
        <div class="column small-full medium-half reset">
          <div class="pleft40">
            <img class="img" src="https://unsplash.it/860/1280" alt="Conor Veneto">
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row wrapper">
        <div class="column small-full medium-half reset">
          <div class="title__black">Certificazioni</div>
          <p class="text">
            Mondialfrutta ha un sistema di autocontrollo HACCP per l’igiene degli alimenti secondo quanto previsto dal Regolamento CE n. 852/2004.<br>
            L’azienda si avvale, altresì, della certificazione ICEA per la commercializzazione e l’etichettatura di prodotti biologici. <br>
            La Certificazione di Qualità ISO 9001 è in fase di sviluppo.
          </p>
        </div>
      </div>
    </div>

  </main>
</div>