

<div class="layout-container">
  <main role="main">

    <div class="row wrapper">
      <div class="column large-full">
        <div class="header">
          <h3 class="title">Schede tecniche</h3>
          <img src="/sites/default/files/hp/prodotti-left_1.png" width="501" height="287" alt="prodotti">
        </div>
      </div>
    </div>

    <div class="row wrapper">
      <div class="column large-full">
        {{ page.content }}
      </div>
    </div>

  </main>
</div>{# /.layout-container #}

{% if page.footer %}
  <footer role="contentinfo">
    {{ page.footer }}
  </footer>
{% endif %}
