<div class="layout-container">
  <main role="main">

    <div class="row wrapper">
      <div class="column large-full">
        <h3 class="title">Servizi</h3>
      </div>
    </div>

    <div class="header-img" style="background-image: url('https://unsplash.it/1980/860');"></div>

    <div class="section">
      <div class="row wrapper">
        <div class="column small-full medium-half">
          <p class="text text__header">
            Da oltre 50 anni Mondialfrutta seleziona con rigore qualitativo e massima competenza i prodotti presso gli Agricoltori locali, nei Mercati Agroalimentari di Padova e Treviso, nelle zona vocate in tutta Italia ed Europa. I nostri esperti ascoltano con attenzione le esigenze dei clienti, cercando di capirne le necessità allo scopo di dare massima soddisfazione ai bisogni del cliente finale.
          </p>
        </div>
      </div>
    </div>
  </main>
</div>