<div class="layout-container">
  <main role="main">

    <div class="row wrapper">
      <div class="column large-full">
        <h3 class="title">Servizi</h3>
      </div>
    </div>

    <div class="header-img" style="background-image: url('sites/default/files/images/nave.jpg');"></div>

    <div class="section sr">
      <div class="row wrapper">
        <div class="column small-full medium-half reset">
          <div class="title__black">Selezione del Prodotto</div>
          <p class="text">
            Da oltre 50 anni Mondialfrutta seleziona con rigore qualitativo e massima competenza i prodotti presso gli Agricoltori locali, nei Mercati Agroalimentari di Padova e Treviso, nelle zona vocate in tutta Italia ed Europa. I nostri esperti ascoltano con attenzione le esigenze dei clienti, cercando di capirne le necessità allo scopo di dare massima soddisfazione ai bisogni del cliente finale.
          </p>
        </div>
        <div class="column small-full medium-half reset relative">
          <div class="pleft40">
            <img class="img img--absolute" src="sites/default/files/images/servizi.jpg" alt="Conor Veneto">
          </div>
        </div>
      </div>
    </div>

    <div class="section sr">
      <div class="row wrapper">
        <div class="column small-full medium-half reset">
          <div class="title__black">Filiera Corta</div>
          <p class="text">
            Negli anni la nostra azienda ha sempre dato massima importanza alla territorialità e alle produzioni locali. Questa attenzione ci ha permesso di dare vita a numerose collaborazioni con piccoli produttori locali, cosiddetti a “km zero”, così che tutti i nostri Clienti possano scegliere, in base alla stagionalità,  prodotti a Filiera breve sia locale che regionale.<br>
            La nostra Filiera corta, inoltre, è costituita da una rete nazionale che si estende alle zone vocate delle specifiche colture, sia attraverso la nostra rete diretta di Produzione, che grazie a collaborazioni produttive e distributive afferenti il Consorzio HFD rete Italia.
          </p>
        </div>
      </div>
    </div>

    <div class="section sr">
      <div class="row wrapper">
        <div class="column small-full reset">
          <div class="title__black">Supply Chain Management</div>
          <p class="text">
            Mondialfrutta nel tempo si è specializzata nella gestione della catena di distribuzione: dalle aree produttive al cliente finale. Attraverso la gestione coordinata con partner logistici altamente qualificati, l’azienda riesce a garantire un alto livello qualitativo della materia prima attraverso il rispetto della catena del freddo, una attenta gestione del ciclo di vita dei prodotti, la gestione efficace ed efficiente delle operazioni logistiche, il tutto accompagnato da una continua analisi e pianificazione strategica della catena distributiva grazie ad un asset aziendale di forti radici, ma con un impostazione rivolta al futuro.<br><br>

            Lungo la filiera distributiva i nostri collaboratori si occupano quotidianamente di:<br>
          </p>
        </div>
      </div>

      <div class="section">
        <div class="wrapper box">
          <div class="row">
            <div class="column small-full large-three box__item modal-init big yellow" data-modal="approvigionamento" style="margin-top: 80px">
              <p class="label">Approvigionamento</p>
            </div>
            <div class="column small-full large-four">
              <div class="row">
                <div class="column small-full medium-six box__item modal-init medium medium green" data-modal="qualita" style="margin-top: 30px">
                  <p class="label">Qualità</p>
                </div>
                <div class="column small-full medium-six box__item modal-init last big orange" data-modal="tracciabilita">
                  <p class="label">Tracciabilità dei prodotti ortofrutticoli</p>
                </div>
                <div class="column small-full large-twelve box__item modal-init medium red" data-modal="edi">
                  <p class="label">Gestione (Sistema E.D.I.)  ed interscambio di dati</p>
                </div>
              </div>
            </div>
            <div class="column small-full large-two">
              <div class="row" style="margin-top: 100px">
                <div class="column small-full medium-six large-twelve box__item modal-init little red" data-modal="customer-care">
                  <p class="label">Customer care</p>
                </div>
                <div class="column small-full medium-six large-twelve last box__item modal-init little yellow" data-modal="operations">
                  <p class="label">Operations</p>
                </div>
              </div>
            </div>
            <div class="column small-full large-three last box__item modal-init medium green" style="    margin-top: 50px;" data-modal="consegne">
              <p class="label">Consegne  personalizzate</p>
            </div>
          </div>
        </div>
      </div>

    <div class="section sr">
      <div class="row wrapper">
        <div class="column small-full medium-half reset">
          <div class="title__black">La Rete</div>
          <p class="text">
            Mondialfrutta dispone di una rete logistica che permette di garantire un servizio di distribuzione di ortofrutta fresca sul territorio nazionale attraverso una rete di provider.<br>
            La nostra rete si pone come obiettivi: il rispetto della catena del freddo, la puntualità nei tempi di consegna, il rispetto della qualità e dei quantitativi richiesti dal cliente, la consegna della merce in perfette condizioni in modo tale da poter soddisfare le esigenze dei nostri clienti. Tutto questo grazie alla professionalità dei nostri partner di logistica interna ed esterna e alle tecnologie utilizzate.
          </p>
        </div>
      </div>
      <div class="row wrapper">
        <div class="column small-full">
          <img class="img mtop50" src="https://unsplash.it/1280/500" alt="Conor Veneto">
        </div>
      </div>
    </div>
  </main>
</div>

<div class="modal" data-modal="approvigionamento">
  <div class="modal__header yellow">
    <div class="title">Approvigionamento</div>
    <i class="icon icon-approvvigionamento"></i>
  </div>
  <div class="modal__content">
    <div class="text">Ovvero la selezione del prodotto in base alle richieste dei nostri clienti.</div>
    <div class="modal-close">chiudi</div>
  </div>
</div>

<div class="modal" data-modal="qualita">
  <div class="modal__header green">
    <div class="title">Qualità</div>
    <i class="icon icon-qualita"></i>
  </div>
  <div class="modal__content">
    <div class="text">Quindi il controllo qualitativo in entrata e in uscita dei prodotti freschi nei diversi provider logistici, attraverso il rispetto dei capitolati di acquisto che ne attestano la conformità ortofrutticola.</div>
    <div class="modal-close">chiudi</div>
  </div>
</div>

<div class="modal" data-modal="tracciabilita">
  <div class="modal__header orange">
    <div class="title">Tracciabilità dei prodotti ortofrutticoli</div>
    <i class="icon icon-tracciabilita"></i>
  </div>
  <div class="modal__content">
    <div class="text">Essa è effettuata tenendo conto delle linee guida del Regolamento (CE) n°178/2002, che stabilisce i requisiti della legislazione alimentare in termini di sicurezza e rintracciabilità degli alimenti, della normativa europea in materia di etichettatura e d’informazione al consumatore.<br>
    Si tratta di una soluzione che permette ai nostri clienti d’identificare gli operatori e i prodotti in tutti i nodi della filiera distributiva, quindi, di avere la possibilità di risalire alla storia, all’uso e alla collocazione di ciascun prodotto.</div>
    <div class="modal-close">chiudi</div>
  </div>
</div>

<div class="modal" data-modal="edi">
  <div class="modal__header red">
    <div class="title">Gestione (Sistema E.D.I.)  ed interscambio di dat</div>
    <i class="icon icon-gestione"></i>
  </div>
  <div class="modal__content">
    <div class="text">gestione (Sistema E.D.I.) ed interscambio di dati tra differenti sistemi informatici attraverso un canale specifico ed un formato definito.
    Il sistema permette un notevole miglioramento, rispetto ai sistemi tradizionali, dello scambio di documenti commerciali, tale da consentire:
      <ul>
        <li>una superiore accuratezza, grazie alla riduzione (o eliminazione) dell’intervento umano e dei relativi errori.</li>
        <li>l'eliminazione della documentazione cartacea e dei relativi costi.</li>
        <li>una maggiore velocità degli scambi commerciali.</li>
      </ul>
    </div>
    <div class="modal-close">chiudi</div>
  </div>
</div>

<div class="modal" data-modal="operations">
  <div class="modal__header yellow">
    <div class="title">Operations</div>
    <i class="icon icon-consegne"></i>
  </div>
  <div class="modal__content">
    <div class="text">Processo di gestione degli Ordini dei Clienti che garantisce consegne di ortofrutta fresca per il settore della ristorazione entro le 24 ore, con la possibilità di tracciare in ogni momento, per via digitale, ogni fase del processo d’evasione degli ordini.</div>
    <div class="modal-close">chiudi</div>
  </div>
</div>

<div class="modal" data-modal="customer-care">
  <div class="modal__header red">
    <div class="title">Customer Care</div>
    <i class="icon icon-customercare"></i>
  </div>
  <div class="modal__content">
    <div class="text">Ogni giorno il nostro Team è impegnato a monitorare la qualità del servizio erogato alla Clientela, a dare risposta alle eventuali problematiche durante la consegna o alle modifiche intervenute nella composizione degli ordini.</div>
    <div class="modal-close">chiudi</div>
  </div>
</div>

<div class="modal" data-modal="consegne">
  <div class="modal__header green">
    <div class="title">Consegne</div>
    <i class="icon icon-consegne"></i>
  </div>
  <div class="modal__content">
    <div class="text">Forniamo i prodotti ortofrutticoli direttamente alle cucine dei nostri Clienti, garantendo efficacia logistica e rispetto delle loro esigenze, grazie alla collaborazione con i diversi professionisti della filiera logistica.</div>
    <div class="modal-close">chiudi</div>
  </div>
</div>