<div class="layout-container">
  <main role="main">

    <div class="row wrapper">
      <div class="column large-full reset">
        <div class="header">
          <h3 class="title">Stagionalità</h3>
          <img src="/sites/default/files/hp/prodotti-left_1.png" width="501" height="287" alt="prodotti">
        </div>
      </div>
    </div>

    <div class="table">
      <div class="table__head uppercase">
        <div class="row wrapper">
          <div class="column large-full reset">
              <div class="right">
                <div class="table__head--rotate left">gen</div>
                <div class="table__head--rotate left">feb</div>
                <div class="table__head--rotate left">mar</div>
                <div class="table__head--rotate left">apr</div>
                <div class="table__head--rotate left">mag</div>
                <div class="table__head--rotate left">giu</div>
                <div class="table__head--rotate left">lug</div>
                <div class="table__head--rotate left">ago</div>
                <div class="table__head--rotate left">set</div>
                <div class="table__head--rotate left">ott</div>
                <div class="table__head--rotate left">nov</div>
                <div class="table__head--rotate left">dic</div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row wrapper">
      <div class="column large-full reset">
        <div class="row">
          {{ page.content }}
        </div>
      </div>
    </div>

  </main>
</div>{# /.layout-container #}

{% if page.footer %}
  <footer role="contentinfo">
        {{ page.footer }}
  </footer>
{% endif %}

