<div class="layout-container">
  <main role="main">

    <div class="row wrapper">
      <div class="column large-full">
        <h3 class="title">Azienda</h3>
      </div>
    </div>

    <div class="header-img" style="background-image: url('https://unsplash.it/1980/860');"></div>

    <div class="section">
      <div class="row wrapper">
        <div class="column small-full medium-half">
          <p class="text">
            Attivi nella distribuzione di ortofrutta dal 1960, noi di Mondialfrutta abbiamo maturato negli anni una profonda conoscenza del settore e del territorio.<br>
            Ogni giorno selezioniamo con cura prodotti di qualità certificata, conformi alla normativa per la tutela dei consumatori e con linee produttive tracciabili fino dall’origine.
          </p>
        </div>
      </div>
    </div>

    <div class="section overflowhidden relative">
      <div class="wrapper">
        <div class="title__black">Chi siamo</div>
        <div class="row">
          <div class="column small-full medium-half reset">
            <p class="text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin justo ex, mollis nec elit non, ornare aliquam justo. Donec metus neque, congue at purus sit amet, commodo tincidunt nulla. Fusce nulla justo, pellentesque eu ipsum tincidunt, lacinia cursus risus. Proin molestie egestas felis quis euismod. Donec ornare, mauris quis ullamcorper rhoncus, magna augue aliquam metus, nec ornare neque mauris at diam.
            </p>
          </div>
        </div>
      </div>
      <div class="timeline">
        <div class="timeline__item">
          <div class="title">1968</div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin justo ex, mollis nec elit non, ornare aliquam justo.<br>
            Donec metus neque, congue at purus sit amet, commodo tincidunt nulla.
          </div>
        </div>
        <div class="timeline__item">
          <div class="title">1968</div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin justo ex, mollis nec elit non, ornare aliquam justo.<br>
            Donec metus neque, congue at purus sit amet, commodo tincidunt nulla.
          </div>
        </div>
        <div class="timeline__item">
          <div class="title">1968</div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin justo ex, mollis nec elit non, ornare aliquam justo.<br>
            Donec metus neque, congue at purus sit amet, commodo tincidunt nulla.
          </div>
        </div>
        <div class="timeline__item">
          <div class="title">1968</div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin justo ex, mollis nec elit non, ornare aliquam justo.<br>
            Donec metus neque, congue at purus sit amet, commodo tincidunt nulla.
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row wrapper">
        <div class="column small-full medium-half reset">
          <div class="title__black">Mission</div>
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin justo ex, mollis nec elit non, ornare aliquam justo. Donec metus neque, congue at purus sit amet, commodo tincidunt nulla. Fusce nulla justo, pellentesque eu ipsum tincidunt, lacinia cursus risus. Proin molestie egestas felis quis euismod. Donec ornare, mauris quis ullamcorper rhoncus, magna augue aliquam metus, nec ornare neque mauris at diam.
          </p>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row wrapper">
        <div class="column small-full medium-half reset">
          <div class="title__black">Conor Veneto</div>
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin justo ex, mollis nec elit non, ornare aliquam justo. Donec metus neque, congue at purus sit amet, commodo tincidunt nulla. Fusce nulla justo, pellentesque eu ipsum tincidunt, lacinia cursus risus. Proin molestie egestas felis quis euismod. Donec ornare, mauris quis ullamcorper rhoncus, magna augue aliquam metus, nec ornare neque mauris at diam.
          </p>
        </div>
        <div class="row">
          <div class="column small-full reset">
            <img class="img" src="https://unsplash.it/1980/880" alt="Conor Veneto">
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row wrapper">
        <div class="column small-full medium-half reset">
          <div class="title__black">Conor Veneto</div>
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin justo ex, mollis nec elit non, ornare aliquam justo. Donec metus neque, congue at purus sit amet, commodo tincidunt nulla. Fusce nulla justo, pellentesque eu ipsum tincidunt, lacinia cursus risus. Proin molestie egestas felis quis euismod. Donec ornare, mauris quis ullamcorper rhoncus, magna augue aliquam metus, nec ornare neque mauris at diam.
          </p>
        </div>
        <div class="column small-full medium-half reset">
          <div class="pleft40">
            <img class="img" src="https://unsplash.it/860/1280" alt="Conor Veneto">
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="row wrapper">
        <div class="column small-full medium-half reset">
          <div class="title__black">Certificazioni</div>
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin justo ex, mollis nec elit non, ornare aliquam justo. Donec metus neque, congue at purus sit amet, commodo tincidunt nulla. Fusce nulla justo, pellentesque eu ipsum tincidunt, lacinia cursus risus. Proin molestie egestas felis quis euismod. Donec ornare, mauris quis ullamcorper rhoncus, magna augue aliquam metus, nec ornare neque mauris at diam.
          </p>
        </div>
      </div>
    </div>

  </main>
</div>