.box {
	&__item {
		border-radius: 20px;
		margin-bottom: 10px;
		position: relative;
		cursor: pointer;
		transition: all .25s ease-out;

		&.last {
			margin-right: 0 !important;
		}

		&.big {
			height: 180px;
		}

		&.medium {
			height: 150px;
		}

		&.little {
			height: 100px;
		}

		&.red {
			background-color: #f64324;

			&:hover {
				box-shadow: 0 8px 22px 0 rgba(246, 67, 39, 0.7);
				transition: all .25s ease-out;
			}
		}

		&.orange {
			background-color: #f5741c;

			&:hover {
				box-shadow: 0 8px 22px 0 rgba(245, 116, 28, 0.7);
				transition: all .25s ease-out;
			}
		}

		&.yellow {
			background-color: #fcb613;

			&:hover {
				box-shadow: 0 8px 22px 0 rgba(252, 182, 19, 0.7);
				transition: all .25s ease-out;
			}
		}

		&.green {
			background-color: #71bd44;
			
			&:hover {
				box-shadow: 0 8px 22px 0 rgba(118, 189, 39, 0.7);
				transition: all .25s ease-out;
			}
		}

		> .label {
			font-family: 'Montserrat', sans-serif;
			width: 100%;
			margin: 0;
			color: #fff;
			text-align: center;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			font-size: 14px;
		}
	}
}