.cta {
  border: 2px solid $mondialfruttaRed;
  background-color: $mondialfruttaRed;
  border-radius: 20px;
  text-align: center;
  font-size: .8em;
  letter-spacing: 1px;
  float: left;
  cursor: pointer;
  transition: all .5s;

  @include mq($until: medium) {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  &:hover {
    background-color: transparent;

    a {
      color: $mondialfruttaRed;
    }
  }

  a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none;
    padding: 0 70px;
    line-height: 40px;
  }
}
