#block-azienda, #block-clienti, #block-servizi {
	.image {
		overflow: hidden;

		img {
			position: absolute;
			opacity: 0;
			transition: all 1s cubic-bezier(.13,.62,.66,.86);
		}

		&--vertical {
			background-color: transparent;
			img {
				left: -100%;
				opacity: 1;
			}
		}

		&--orizontal {
			// background-color: transparent;
			img {
				// right: 100%;
				opacity: 1;
			}
		}

		&.js-effect {
			&.image--vertical {
				img {
					left: 0;
				}
			}

			// &.image--orizontal {
			// 	img {
			// 		right: 0;
			// 	}
			// }
		}
	}
}

#block-servizi {
	.image {
		&--vertical {
			img {
				left: 100%;
			}
		}
	}
}

.img-mobile {
	@include mq($until: medium) {
		width: 100%;
	}
}