#map {
	width: 100vw;
	height: 480px;
}

#map-logistica {
	width: 100vw;
	height: 636px;
}

.map {
	position: relative;

	.title {
		position: absolute;
		top: 25%;
		left: 20%;
	}
}

.gm-style-iw + div { display: none }
.gm-style-iw { text-align:center }