.modal {
	visibility: hidden;
	opacity: 0;
	position: fixed;

	@include mq($until: medium) {
		top: 0;
		left: 0;
		z-index: 9999;

		width: 100vw;
		height: 100vh;
	}

	@include mq($from: medium) {
		top: 50%;
		left: 50%;
		z-index: 3;
		transform: translate(-50%, -50%);
	}

	transition: all .5s ease-in;

	&__header {
		padding: 50px 30px;
		padding-right: 200px;
		position: relative;

		@include mq($until: medium) {
			min-height: 10%;
		}

		@include mq($from: medium) {
			border-top-right-radius: 20px;
			border-top-left-radius: 20px;
		}

		.icon {
			position: absolute;
		    right: 30px;
		    top: 50%;
		    transform: translateY(-50%);
		    font-size: 3rem;
		}

		&.red {
			background-color: #f64324;

			.icon:before {
				color: #e40400;
			}
		}

		&.orange {
			background-color: #f5741c;

			.icon:before {
				color: #a54e13;
			}
		}

		&.yellow {
			background-color: #fcb613;

			.icon:before {
				color: #af8000;
			}
		}

		&.green {
			background-color: #71bd44;

			.icon:before {
				color: #3b6323;
			}
		}

		> .title {
			color: #fff;
			font-size: 28px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
		}
	}

	&__content {

		background-color: #fff;
		padding: 40px 30px;

		@include mq($until: medium) {
			height: 75%;
			overflow-y: scroll;
			padding-bottom: 150px;
    		box-sizing: border-box;
		}

		@include mq($from: medium) {
			border-bottom-right-radius: 20px;
			border-bottom-left-radius: 20px;
			border: solid 1px rgba(151, 151, 151, 0.5);
			border-top: 0;
		}

		> .modal-close {
			font-family: 'Montserrat', sans-serif;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 11px;
			color: $mondialfruttaGreen;
			padding-top: 50px;
			cursor: pointer;
		}
	}

	&.show {
		visibility: visible;
		opacity: 1;
		transition: all .5s ease-out;
	}
}