.pre-loader {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 201;
	visibility: visible;
	animation-name: hide;
	animation-duration: .1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-delay: 3s;

	@keyframes hide {
		100% {
			visibility: hidden; 
		}
	}

	&__item {
		position: absolute;
		width: 100vw;
		height: 100%;
		background-color: #fff;
		animation-name: loader;
		animation-duration: .7s;
    	animation-iteration-count: 1;
    	animation-timing-function: ease-out;
    	animation-fill-mode: forwards;
    	animation-delay: 1.5s;
	}

	@keyframes loader {
		100% { 
			height: 0vh;
		}
	}

	&__logo {
		position: absolute;
		top:40%;
		left: 50%;
		transform: translate(-50%);
		opacity: 1;
		animation-name: logo;
		animation-duration: .5s;
    	animation-iteration-count: 1;
    	animation-timing-function: ease-in;
    	animation-fill-mode: forwards;
    	animation-delay: 1s;

    	 img {
    	 	width: 100%;
    	 }
	}

	@keyframes logo {
		100% { 
			top: 55%;
			opacity: 0;
		}
	}
}