.scheda-tecnica {

  &__item {
    padding: 10px 0;
    border-bottom: 1px solid $border;
    transition: all .5s;

    &:hover {
      box-shadow: 0px 8px 10px rgba(0,0,0,0.15),
                  -10px 8px 15px rgba(0,0,0,0.15), 
                  10px 8px 15px rgba(0,0,0,0.15);
      transform: translateY(-2px);
      z-index: 1;
      background-color: white;
      transition: all .5s;
    }
  }

  &__title {
    padding: 20px 0;
    margin: 0;
    margin-top: 30px;
    border-bottom: 2px solid $border;
  }

  &__item-title {
    font-size: 0.875rem;
    font-weight: 700;
    color: $mondialfruttaGreenDark;
    text-align: center;
    padding: 20px 0;
  }

  &__immagine {
    img {
      left: 50%;
      position: relative;
      transform: translateX(-50%);
    }
  }

  &__link {
    line-height: 20px;
    padding: 0 20px;
    font-size: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);

    &:hover {
      background-color: transparent;
      color: $mondialfruttaRed;
    }

  }
}
