.tabs {
	padding-top: 50px;

	&--nopadding {
		padding-top: 0;
	}

	&__title {
		height: 80px;
		cursor: pointer;

		@include mq($from: medium) {
			border-top: solid 1px #979797;
			border-bottom: solid 1px #979797;
			border-right: solid 1px #979797;

			&:last-child {
				border-right: 0;
			}
		}

		@include mq($until: medium) {
			border: 0;
			border-top: 1px solid #979797;

			&:last-child {
				border-bottom: 1px solid #979797;
			}
		}

		&.active {
			border-bottom: 0;
		}
	}

	&__text {
		padding: 50px 10vw;

		&--height {
			min-height: 600px !important;
        }
	}

	&__image {
		img {
			width: 100%;
		}
	}

	&__item {
		display: none;

		&.active {
			display: block;
		}

		.marker {
			li {
				cursor: pointer;

				&.active {
					color: $mondialfruttaRed;
				}
			}
		}
	}
}