.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: $mondialfruttaBlack;
    letter-spacing: 0;
    line-height: 25px;

    &--row {
        padding-bottom: 50px;
        padding-top: 50px;

    	@include mq($from: medium) {
        	width: 50%;
        }
    }

    &__tab {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: $mondialfruttaBlack;
        letter-spacing: 0;
        line-height: 25px;
    }

    &__header {
        font-size: 18px;
        line-height: 32px;
    }
}
