.title {
    font-family: 'Montserrat', sans-serif;
    color: $mondialfruttaGreen;
    font-size: 42px;
    letter-spacing: 0.5px;
    font-weight: 400;

    &__view {
    	font-family: 'Montserrat', sans-serif;
    	font-size: 1.125rem;
    	font-weight: 400;
    	color: $greyDark;
    }

    &__section {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 0.93rem;
        line-height: 25px;
        text-transform: uppercase;
    }

    &__tab {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1.35rem;
        line-height: 80px;
        color: #71bd44;
        text-align: center;

        .active & {
            color: $mondialfruttaBlack;
        }
    }

    &__black {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 2rem;
        color: #000;
    }
}
