header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 200;

    .headline {
        &__logo {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }
    }

    .menu-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);

        &__hamburger {
            color: lime;
            height: 100%;
            cursor: pointer;
        }
    }

    .menu-container {
        height: 100vh;
        width: 20vw;
        position: fixed;
        background-color: #fff;
        top: 0;
        right: -20vw;
        transition: all 2s;
    }
    .open { right: 0; }

    .menu {
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .menu-item {
            list-style: none;
            font-size: 1em;
            letter-spacing: 1px;
            margin: 10px 0;

            a {
                color: $mondialfruttaRed;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}
