#block-azienda {
	.image {
		overflow: hidden;

		&--vertical {
			&:after {
		    	background-color: #ccc;
			}
		}

		&--orizontal {
			&:after {
		    	background-color: #ddd;
			}
		}

		&:after {
			content: '';
			width: 200%;
		    height: 100%;
		    top: 0;
		    left: -40%;
		    position: absolute;
		    z-index: 5;
		    transform: skewX(-20deg);
		    transition: all 1s ease-in;
		}

		&.js-effect {
			&:after {
				left: 200%
			}
		}
	}
}

#block-servizi {
	.image {
		overflow: hidden;
	}
}

#block-clienti {
	.image {
		overflow: hidden;

		img {
			position: absolute;
			opacity: 0;
			transition: all .7s ease-out;
		}

		&--vertical {
			background-color: #ccc;
			img {
				left: -100%;
				opacity: 1;
			}
		}

		&--orizontal {
			background-color: #ddd;
			img {
				right: -100%;
				opacity: 1;
			}
		}

		&.js-effect {
			&.image--vertical {
				img {
					left: 0;
				}
			}

			&.image--orizontal {
				img {
					right: 0;
				}
			}
		}
	}
}