.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid $mondialfruttaRed;
    cursor: pointer;
    opacity: 0;
    transition: all .5s;
    animation-name: showingFade;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 3s;

    &:hover {
        .svg-circle {
            /* calculate using: (2 * PI * R) */
            stroke-dasharray: 135;
            stroke-dashoffset: 0;
            stroke-width:2;
            animation-name: rotateUp;
            animation-duration: .5s;
            animation-iteration-count: 1;
            animation-direction: reverse;
            animation-timing-function: ease-in;
        }
    }

    &:not(:hover) {
        .svg-circle {
            /* calculate using: (2 * PI * R) */
            stroke-dasharray: 135;
            stroke-dashoffset: 135;
            stroke-width:2;
            animation-name: rotateDown;
            animation-duration: .5s;
            animation-iteration-count: 1;
            animation-direction: reverse;
            animation-timing-function: ease-in;
        }
    }

    .svg-circle {
        position: absolute;
        top: -2px;
        left: -2px;
        stroke: $mondialfruttaRed;
        stroke-width:0;
        fill:none;

        @keyframes rotateUp {
            100% {
                stroke-dashoffset: 135;
            }
        }
        @keyframes rotateDown {
            100% {
                stroke-dashoffset: 0;
            }
        }
    }

    .svg-arrow {
        position: absolute;
        left: 30%;
        top: 25%;
        transform: translate(-50%);
        animation-name: arrow;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    @keyframes arrow {
        0% {transform: translateY(0);}
        52% {transform: translateY(0);}
        64% {transform: translateY(.33333rem);}
        76% {transform: translateY(0);}
        88% {transform: translateY(.33333rem);}
        100% {transform: translateY(0);}
    }
}