#stagionalita {
  .views-row {
    width: 100%;
    height: auto;
    float: left;
  }

  .views-field {
    float: left;

    .title-prodotto {
      width: 100px;
    }

    .image-prodotto {
      width: 100px;
      height: auto;

      img {
        width: 100%;
        height: 100%;
      }
    }

    img {
      width: 20px;
      height: auto;
    }
  }

  .table {
    &__head {
      width: 100%;
      padding: 30px 0;
      border-top: 1px solid $border;
      border-bottom: 1px solid $border;

      &--rotate {
        transform: rotate(-90deg);
      }
    }
  }
}

