.text {
    font-size: 15px;
    color: $mondialfruttaBlack;
    letter-spacing: 0;
    line-height: 25px;

    &--row {
        padding-bottom: 50px;
        padding-top: 50px;

    	@include mq($from: tablet) {
        	width: 50%;
        }
    }
}
