@import 'base/_normalize.scss';
@import 'base/_reset.scss';
@import 'base/_config.scss';
@import 'base/_mq.scss';
@import 'base/_layers-bp.scss';
@import 'base/_layers-core.scss';
@import 'base/_utils.scss';

@import 'layout/_body.scss';
@import 'layout/_font.scss';
@import 'layout/_layout-container.scss';
@import 'layout/_wrapper.scss';
@import 'layout/_header.scss';
@import 'layout/_visual.scss';
@import 'layout/_hp-row.scss';

@import 'modules/_pre-loader.scss';
@import 'modules/_cta.scss';
@import 'modules/_text.scss';
@import 'modules/_title.scss';
@import 'modules/_images.scss';
@import 'modules/_scroll.scss';
@import 'modules/_maps.scss';
@import 'modules/_contacts.scss';
@import 'modules/_footer.scss';
@import 'modules/_stagionalita.scss';
@import 'modules/_schede-tecniche.scss';
