header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 200;
    background-color: rgba(255,255,255,0);
    opacity: 0;
    transition: all .5s ease-out;
    animation-name: showingFade;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 3s;

    @keyframes showingFade {
        100% {
            opacity: 1;
        }
    }

    .headline {
        &__logo {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }
    }

    .menu-icon {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        z-index: 1;
        overflow: hidden;

        &__hamburger {
            width: 25px;
            height: 17px;
            position: relative;
            transform: rotate(0deg);
            transition: .5s ease-in-out;
            cursor: pointer;

            &:hover {
                span {
                    background-color: $mondialfruttaRedHover;
                }
            }

            span {
                display: block;
                position: absolute;
                height: 3px;
                width: 100%;
                background-color: $mondialfruttaRed;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;
                transition: all .5s;

                &:nth-child(1) {
                    top: 0px;
                }

                &:nth-child(2), &:nth-child(3) {
                    top: 7px;
                }

                &:nth-child(4) {
                    top: 14px;
                }
            }

            &.open {
                right: 30px;
            }

            &.open span:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }

            &.open span:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            &.open span:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            &.open span:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
        }
    }

    .menu-container {
        height: 100vh;
        width: 280px;
        position: fixed;
        background-color: #fff;
        top: 0;
        right: -280px;
        transition: all .5s;
    }
    .open { 
        right: 0;
        overflow: visible; 
    }

    .menu {
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .menu-item {
            list-style: none;
            font-size: 1em;
            letter-spacing: 1px;
            height: 30px;
            margin: 15px 0;
            overflow: hidden;
            position: relative;

            a {
                color: $mondialfruttaRed;
                text-transform: uppercase;
                text-decoration: none;
                background-color: #fff;
                position: absolute;
                bottom: 0;
                transition: all .5s ease-out;

                &:before {
                    content: '';
                    width: 26px;
                    height: 14px;
                    background-image: url('../images/leaf.png');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%) scale(0.5, 1);
                    z-index: -1;
                    transition: all .2s ease-out;
                }

                &:hover {
                    &:before {
                        bottom: 100%;
                        transform: translate(-50%) scale(1, 1);
                    }
                }
            }
        }
    }

    &.open {
        background-color: rgba(255,255,255,.9);
    }
}
