.path {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.overlay {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s;

    &.open {
        background-color: rgba(0, 0, 0, 0.25);
    }
}
