header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 200;
    background-color: rgba(255,255,255,0);
    transition: all .5s;

    &.open {
        //background-color: rgba(255,255,255,1);
    }

    .headline {
        &__logo {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }
    }

    .menu-icon {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        z-index: 1;

        &__hamburger {
            width: 25px;
            height: 17px;
            position: relative;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .5s ease-in-out;
            -moz-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out;
            cursor: pointer;

            span {
                display: block;
                position: absolute;
                height: 3px;
                width: 100%;
                background-color: $mondialfruttaRed;
                opacity: 1;
                left: 0;
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .25s ease-in-out;
                -moz-transition: .25s ease-in-out;
                -o-transition: .25s ease-in-out;
                transition: .25s ease-in-out;

                &:nth-child(1) {
                    top: 0px;
                }

                &:nth-child(2), &:nth-child(3) {
                    top: 7px;
                }

                &:nth-child(4) {
                    top: 14px;
                }
            }

            &.open {
                right: 30px;
            }

            &.open span:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }

            &.open span:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            &.open span:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            &.open span:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
        }
    }

    .menu-container {
        height: 100vh;
        width: 280px;
        position: fixed;
        background-color: #fff;
        top: 0;
        right: -280px;
        transition: all .5s;
    }
    .open { right: 0; }

    .menu {
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .menu-item {
            list-style: none;
            font-size: 1em;
            letter-spacing: 1px;
            margin: 25px 0;

            a {
                color: $mondialfruttaRed;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}
