.visual {
    height: 100vh;
    position: relative;
    overflow: hidden;

    .main-title {
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        color: #fff;
        font-size: 30px;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .video {
        position:absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;

        &--fullscreen {
            position: absolute;
            top: 50%;
            left: 50%;
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            transform: translate(-50%, -50%);
        }

        @media (max-width: 767px) {
            .fullscreen-bg {
                background: url('http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg') center center / cover no-repeat;
            }

            .fullscreen-bg__video {
                display: none;
            }
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
        }
    }

    .scroll-down {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $mondialfruttaRed;
        cursor: pointer;
        transition: all .5s;

        &:hover {
            background-color: $mondialfruttaRedHover;
        }

        svg {
            position: absolute;
            left: 30%;
            top: 25%;
            transform: translate(-50%);
            animation-name: arrow;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }

        @keyframes arrow {
            0% {transform: translateY(0);}
            52% {transform: translateY(0);}
            64% {transform: translateY(.33333rem);}
            76% {transform: translateY(0);}
            88% {transform: translateY(.33333rem);}
            100% {transform: translateY(0);}
        }
    }
}
